body {
  background-color: #f5f5f5;
  /* text-align: justify; */
  text-align: left;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  /* text-align: center; punkterne fra ul og ol følger ikke med*/
}
header {
  /* background-color:  #5ea3a3; */
  background-color: #406e8a;
  color: #000000;
  padding: 10px;
  text-align: justify;
}
#intro {
  background-color: #ffe0e0;
  padding: 10px;
  text-align: justify;
}
#pic {
  background-color: #f3f3f3;
}
#ing {
  background-color: #c3195d;
  padding: 10px;
  text-align: justify;
}
#howTo {
  background-color: #ffc0d0;
  padding: 10px;
  text-align: justify;
}
#tips {
  background-color: #ffe0e0;
  padding: 10px;
  text-align: justify;
}
footer {
  background-color: #2b536c;
  color: #000000;
  padding: 15px;
}
a {
  color: #000000;
}
